.main {
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center;
  .colorBlock {
    position: fixed;
    background-color: #ffb400;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
  }
  @media screen and (max-width: 991px) {
    padding: 50px 0;
    .colorBlock {
      position: absolute;
      height: 30%;
      width: 200%;
      transform: rotate(0) translateX(-50%);
      border-radius: 0 0 50% 50%;
      left: 50%;
      top: 0;
    }
  }
}
.header {
  max-width: 620px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    max-width: 500px;
  }
}
.greating {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 32px;
  background: #fff;
  color: #2b3033;
  border-radius: 2px;
  text-transform: uppercase;
  @media screen and (max-width: 1200px) {
    padding: 0 10px;
    font-size: 28px;
  }
}
.title {
  margin-bottom: 20px;
  h1 {
    color: #ffb400;
    font-size: 45px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  @media screen and (max-width: 1200px) {
    margin-bottom: 15px;
    h1 {
      font-size: 36px;
    }
  }
}
.description {
  font-size: 18px;
  line-height: 1.6;
  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
}
.img {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: calc(100vh - 60px);
  background: #181b1c;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  width: 100%;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (max-width: 991px) {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 30px auto;
    overflow: hidden;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 5px solid #252525;
  }
  @media screen and (max-width: 575px) {
    width: 180px;
    height: 180px;
  }
}
